#_setVars () {
	@outer-padding : 60px;
	@middle-padding : 100px;
	@body-padding : 30px;
	@header-height: 80px;
}

.window {
	#console {
		position: absolute;
		height: calc(~"100% -" @body-padding * 2);
		width: calc(~"35% - " @body-padding);
		right: calc(~"30% - " @body-padding);
		transition: all 2s ease-in-out;
		transform: translate3d(0, 0, 0);
		-webkit-transform:translateZ(0);
		.header {
			background: #45BB77; 
		}
		.body {
			ul {
				height: calc(~"100% - 100px");
				overflow: auto;
			}
		}

		&.display {
			width: calc(~"60% - " @body-padding * 3) !important;
			right: @body-padding !important;
		}
	}

	#log {
		position: absolute;
		width: calc(~"35% - "@body-padding~"-"@middle-padding);
		left: calc(~"70% - "@body-padding~"+"@middle-padding);
		height: calc(~"100% - "@body-padding * 2 );
		transition: all 2s ease-in-out;
		transform: translate3d(0, 0, 0);
		-webkit-transform:translateZ(0);

		.header {
			background: #252525;
			overflow: visible;

			#hamburger {
				left: 175px;
				right: 0;
				margin-top: 0;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		.body {
			.cards {
				position: relative;
				width: 300px;

				.card {
					cursor: pointer;
					transition: all 0.5s;
					position: relative;
					margin-top: 85px;

					&:first-child {
						margin-top: 45px;
					}
				}
			}
		}

		&.display {
			left: 100% !important;
		}

		.info-card {
			display: block;
			color: #fff;
			min-height: 110px;
			background: #fff;
			width: 100%;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
			border-radius: 2px;
			margin-bottom: 15px;
			background-color: #5CC6AF;

			.info-card-icon {
				display: block;
				text-align: center;
				font-size: 45px;
				line-height: 70px;
				background: rgba(0, 0, 0, 0.2);
				height: 77px;
				width: 77px;
				margin: -45px auto;
				position: absolute;
				left: 100px;
				border-radius: 100px;
				border: 3px solid #F3F4F4;
			}

			.info-card-content {
				padding: 5px 10px;

				span {
					display: block;
					font-weight: bold;
					font-size: 0.9em;
					line-height: 40px;
					text-align: center;
					white-space: pre;
					margin-top: 25px;
				}

				.info-card-list {
					margin: 0;
					font-size: 0.8em;
					margin-top: 35px;
					list-style: initial;
					padding-bottom: 0;
					margin-left: auto;
					margin-right: auto;
					width: 200px;
				}
			}

			.info-card-ptc {
				display: block;
				font-weight: bold;
				font-size: 0.9em;
				line-height: 40px;
				text-align: center;
				white-space: pre;
			}

			.progress {
				background: rgba(0, 0, 0, 0.2);
				margin: 5px 0px 5px 0px;
				height: 2px;
				width: 80%;
				margin-right: auto;
				margin-left: auto;
				border-radius: 100px;

				.progress-bar {
					border-radius: 0;
					background: #fff;
					transition: none;
				}
			}
		}
	}

	#ui {
		position: absolute;
		height: calc(~"100% -" @body-padding * 2);
		width: 35%;

		#locations, #interactable, #inventory {
			display: inline-block;
			float: left;
			height: calc(~"50% -" @body-padding / 2);
			margin-bottom: 30px;
			background: #FFF;

			.body {
				height: calc(~"100% -" @header-height);
			}

            .middle {
                padding-top: 15px;
                padding-left: 15px;
                font-family: 'Open Sans', sans-serif;
                font-size: 110%;
                float: left;
                height: 100%;
                line-height: 20px;
                width: 40%;
            }
            .right {
                float: right;
                height: 100%;
                width: 50%;
                font-family: 'Open Sans', sans-serif;
                padding-top: 5px;
                padding-right: 5px;
                .head {
                    background-color: #13A89E;
                    color: #FFFFFF;
                    font-family: 'Open Sans', sans-serif;
                    text-align: center;
                    font-size: 150%;
                    padding-top: 10px;
                    padding-bottom: 5px;
                }
                .item {
                    font-size: 1.0em;
                }
                h3 {
                    margin: auto;
                    padding: 0px;
                }
            }
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				margin: 0;

				&:last-child {
                    box-shadow: inset 0 -1px 0 0 #dddddd;
				}

			}
		}

		#locations {
			width: calc(~"50% -" @body-padding / 2);
			margin-right: @body-padding;

			.header {
				background-color: #DA4F49;
			}
		}

		#interactable {
			width: calc(~"50% -" @body-padding / 2);

			.header {
				background-color: #FDD761;
			}
		}

		#inventory {
			width: 100%;

			.header {
				background-color: #13A89E;
			}
		}
	}

	.header {
		position: relative;
		top: 0;
		width: 100%;
		height: @header-height;
		box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
		padding: 20px;
		background: #45BB77;
		overflow: hidden;

		h1 {
			float: left;
			color: #FFF;
			font-size: 2.6em;
		}

		.fa {
			float: right;
			color: #FFF;
			font-size: 2.2em;
			margin-top: 5px;
		}

		.button {
			border: 1px solid transparent;
			border-color: #333;
			border-radius: 4px;
			padding: 9px 10px;
			margin-top: -5px;
			margin-right: -10px;
			cursor: pointer;
			
			&:hover {
				background-color: #333;
			}
		}
	}

	.body {
		overflow: auto;
		height: calc(~"100% - 80px");
		width: 100%;
		border-radius: 4px;
		
		ul {
			list-style: none;
			padding: 10px;
			font-size: 1.2em;
			margin-left: 10px;

			.on {
				color: #2DB34A;
				font-size: 1.2em;
				font-weight: 100;
			}

			li {
				margin-bottom: 15px;
			}
		}

		.input {
			display: block;
			border-top: 1px solid #cfdbe2;
			border-radius: 0 0 3px 3px;
			margin-top: 15px;
			min-height: 50px;
			padding: 20px;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;

			.btn-default {
				margin-bottom: 5px;
				height: 50px;
				width: 80px;
				float: right;
				font-size: 1.5em;
				padding: 10px;
			}

			input {
				outline: none;
				resize: none;
				font-size: 1.35em;
				font-weight: normal;
				color: #898989;
				background-color: #f0f0f0;
				border: 1px solid #ccc;
				box-shadow: 0 1px 4px -1px #a8a8a8 inset;
				width: calc(~"100% - 110px");
				min-height: 50px;
				padding: 6px 16px;
			}
		}
	}

	.well {
		padding: 0;
		border: none;
		background: #E9E9E9;
	}
}
.pic {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-radius: 250px;
}
.portrait {
    height: 90%;
    width: 150px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


.list {
    .char-pic {
        height: 40px;
        width: 40px;
        float: left;
        margin-top: 8px;
        margin-right: 10px;
        margin-left: 10px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    }
    .collapse {
        margin-top: -1px;
    }
    .collapsing {
        margin-top: -1px;
    }
	.item {
		color: #1BBC9B;
		background: #FFF;
		padding: 20px 25px 15px 25px;
        box-shadow: inset 0 -1px 0 0 #dddddd;
        font-size: 1.4em;
		span {	
			font-size: 1.3em;
		}
		&:hover {
			cursor: pointer;
			color: #fff;
			background: #34495e;
			transition: all 0.5s ease-in-out;
		}

		&:last-child {
			box-shadow: none;
		}
	}
    #list-sub {
        .banner-1 {
            background-color: #f87c85;
        }
        .banner-2 {
            background-color: #feb47f;
        }
        .banner-3 {
            background-color: #3498db;
        }
        .child {
            position: relative;
            padding-top: 5px;
            padding-bottom: 7px;
            box-shadow: inset 0 -1px 0 0 #dddddd;

            .left-banner {
                position: absolute;
                float: left;
                width: 5px;
                height: 100%;
                bottom: 0px;
            }

            .bottom-banner {
                position: absolute;
                background-color: #d24220;
                float: left;
                height: 1px;
                width: 10%;
                bottom: 0px;
            }

            span {
                font-size: 0.7em;
                margin-left: 10px;
            }

            &:hover {
                cursor: pointer;
                color: #fff;
                background: #34495e;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}
