// ===============================================================================
//  Basic Styles
// = =============================================================================
//
@import (less) "_normalize.css";

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bolditalic-webfont.eot');
  src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'),
       url('../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'),
       url('../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

html {
    font-size: 15px; 
    height: 100%;
}

body {
  line-height: 20px;
  font-size: 13px;
  color: #4c4c4c;
  font-family: 'Lato', sans-serif;
  height: 100%;
  overflow: hidden;
  background-color: #2f4050;
  padding: 30px;
}

h1,
h2,
h3,
h4 {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 1em 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}


* {
    box-sizing: border-box;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#_setVars();
