.modal-content {
	border: none;
	border-radius: 0;
	background: #EDEEF1;
	overflow: hidden;

	.modal-header {
		border: none;
		background: #1BBC9B;

		h3 {
			color: #FFF;
			font-size: 2.6em;
		}

		.fa {
			float: left;
			color: #FFF;
			font-size: 3em;
			margin-right: 20px;
			margin-top: 5px;
		}
	}

	.modal-body {
		padding: 0;
		max-height: 800px;
		overflow: auto;
        position: relative;
        border-radius: 0;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		pre {
			background: #e7ecf1;
			border: 1px solid #dfe5ec;
			border-width: 1px 0 0 1px;
			padding: 10px 20px;
			margin: 20px;
		}
        .pickup {
            margin-top: 20px;
            width: 100%;
            height: 50px;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.7em;
            font-weight: 400;
        }

		.img-list {
			display: inline-block;
			padding: 10px;

			li {
				width: 295px;
				height: 275px;
				padding: 0;
				margin: 20px 30px 45px 30px;
				float: left;
				border-radius: 4px;

				.pic {
					vertical-align: middle;
					width: 100%;
					height: 100%;
				}

				.title {
					text-align: center;
					margin: 15px;
					font-size: 1.8em;
					color: #6b6b6b;
					letter-spacing: 1px;
				}
			}
		}
        .pic {
            max-width: 100%;
            max-height: 100%;
            display: block;
            border-radius: 250px;
            -webkit-border-radius: 250px;
            -moz-border-radius: 150px;
            box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        }
        .banner-1 {
            background-color: #f87c85;
        }
        .banner-2 {
            background-color: #feb47f;
        }
        .banner-3 {
            background-color: #3498db;
        }
        .left-banner {
            position: absolute;
            float: left;
            width: 5px;
            height: 100%;
            bottom: 0px;
        }
        .bio-body {
            margin: 20px;
            height: 650px;
        }
        .left-side {
            float: left;
            width: calc(48%);
            height: 100%;
        }
        .right-side {
            float: right;
            width: calc(48%);
            height: 100%;
        }
        .bio-text {
            overflow: auto;
            height: 100%;
            padding-top: 20px;
            padding-bottom: 25px;
            padding-left: 25px;
            padding-right: 25px;
            line-height: 25px;
            font-size: 120%;

        }
        .bio-text-char {
            height: calc(~"60% + 10px");
        }
        .bio-pic {
            height: calc(~"60% + 10px");
            width: 100%;
        }
        .extra-info {
            height: calc(~"30% - 25px");
            margin-top: 25px;
            .extra-info-body {
                position: relative;
                height: 100%;
                width: 100%;
                .header {
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 200%;
                    font-weight: 300;
                    padding-bottom: 5px;
                }
            }
            .item-list {
                overflow: auto;
                height: calc(~"100% - 35px");
            }
            .item {
                position: relative;
                width: 100%;
                margin: 0px;
                background-color: #ffffff;
                border-bottom: #dadada;
                border-bottom-width: 10px;
                box-shadow: inset 0 -1px 0 0 #dddddd;
                p {
                    padding-left: 65px;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    margin: 0px;
                }
                .char-pic {
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    float: left;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    margin-left: 15px;
                    box-shadow: 0 0 3px rgba(0, 0, 0, .8);
                    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .8);
                    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .8);
                }
            }
            .owner {
                padding-left: 10px;
            }
        }
	}

    .status {
        background-color: #fff;
        vertical-align: middle;
        text-align: center;

        border-radius: 10px;
        background: #fff;

        img {
            width: 80%;
        }

        p {
            border-radius: 0;
        }
    }

    .status & {
        border-radius: 10px;
        background-color: #fff;
    }

	.modal-footer {
		border: none;
		background: #1BBC9B;
		height: 40px;
		margin: 0;
	}
} 

.loading {
    .modal-content {
        width: 350px;
        margin-top: 100px;
        background-color: #fff;
        overflow: hidden;
        border: none;
        border-radius: 10px;

        .status {
            background-color: #fff;
            vertical-align: middle;
            text-align: center;

            border-radius: 10px;
            background: #fff;

            .load {
                h3 {
                    font-size: 2.4em;
                    display: inline-block;
                    margin-top: 45px;
                    margin-left: 45px;
                }

                img {
                    width: 85px;
                    height: 85px;
                    margin-top: -15px;
                    margin-left: 25px;
                }
            }

            p {
                font-size: 1.3em;
                margin-top: 15px;
                margin-bottom: 25px;
                font-style: italic;
                font-weight: 100;
                color: #000;
            }
        }
    }
}


[size="lgx"] { 
    .modal-dialog {
        width: 1100px;
	}
}
