<div class="modal-header">
    <i class="fa fa-book"></i>
    <h3 class="modal-title">{{ item.name }}</h3>
</div>
<div class="modal-body">
    <div class="bio-body">
        <div class="left-side">
            <div class="bio-text">
                <p ng-repeat="para in bioInfo.bioText.paragraphs">{{ para }}</p>
            </div>
        </div>
        <div class="right-side">
            <div class="bio-pic pic" style="background: url(app/less/img/{{ item.name | nospace }}.jpg) no-repeat; background-size: cover;"></div>
            <div class="extra-info">

                <!-- Item -->
                <div class="extra-info-body" ng-show="type == 'item'">
                    <div ng-show="item.owner != 'unknown'">
                        <p class="header">Owner</p>
                        <div class="item">
                            <div class="left-banner banner-{{$index + 1}}"></div>
                            <div class="char-pic pic" style="background: url(app/less/img/{{ item.owner | nospace }}.jpg) no-repeat; background-size: cover;"> </div>
                            <p>{{ item.owner }}</p>
                        </div>
                    </div>
                    <div ng-show="item.owner == 'unknown'">
                        <p class="header">No Owner</p>
                    </div>
                </div>

                <!-- Location -->
                <div class="extra-info-body" ng-show="type == 'location'">
                    <p class="header">Characters</p>
                    <div class="item-list">
                        <div class="item" ng-repeat="char in item.characters">
                            <div class="left-banner banner-{{$index + 1}}"></div>
                            <div class="char-pic pic" style="background: url(app/less/img/{{ char | nospace }}.jpg) no-repeat; background-size: cover;"> </div>
                            <p>{{ char }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer"></div>
