<div class="modal-header">
    <i class="fa fa-book"></i>
    <h3 class="modal-title">{{ item.name }}</h3>
</div>
<div class="modal-body">
    <div class="bio-body">
        <div class="left-side">
            <div class="bio-text bio-text-char">
                <p ng-repeat="para in bioInfo.bioText.paragraphs">{{ para }}</p>
            </div>

            <!-- Inventory -->
            <div class="extra-info">
            <div class="extra-info-body" ng-if="charInventory != false">
                <p class="header">Inventory</p>
                <div class="item">
                    <div class="left-banner banner-{{$index + 1}}"></div>
                    <div class="char-pic pic" style="background: url(app/less/img/{{ charInventory.name | nospace }}.jpg) no-repeat; background-size: cover;"> </div>
                    <p>{{ charInventory.name }}</p>
                </div>
            </div>

            </div>
        </div>
        <div class="right-side">
            <div class="bio-pic pic" style="background: url(app/less/img/{{ item.name | nospace }}.jpg) no-repeat; background-size: cover;"></div>
            <div class="extra-info">

                <!-- Location -->
                <div class="extra-info-body">
                    <p class="header">Location</p>
                    <div class="item-list">
                        <div class="item">
                            <div class="left-banner banner-{{$index + 1}}"></div>
                            <div class="char-pic pic" style="background: url(app/less/img/{{ item.location | nospace }}.jpg) no-repeat; background-size: cover;"> </div>
                            <p>{{ item.location }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer"></div>
