<div class="modal-header">
    <i class="fa fa-users"></i>
    <h3 class="modal-title">Characters</h3>
</div>
<div class="modal-body">
    <ul class="img-list">
        <li ng-repeat="item in list">
            <img class="pic" src="app/less/img/{{ item.name | nospace }}.jpg" alt="{{ item.name }}">
            <h3 class="title">{{item.name}}</h3>
        </li>
    </ul>
</div>
<div class="modal-footer"></div>