<div class="modal-header">
    <i class="fa fa-book"></i>
    <h3 class="modal-title">Give to:</h3>
</div>
<div class="modal-body">
    <div class="giveto-body">
        <ul class="list">
            <div ng-repeat="item in world.entities.Character">
                <div ng-click="giveTo(item)">
                    <div class="char-pic pic" style="background: url(app/less/img/{{ item.name | nospace }}.jpg) no-repeat; background-size: cover;"> </div>
                    <li class="item">
                        {{ item.name }}
                    </li>
                </div>
            </div>
        </ul>
    </div>
</div>
<div class="modal-footer"></div>
