<div class="modal-header">
	<i class="fa fa-info"></i>
    <h3 class="modal-title">World state info</h3>
</div>
<div class="modal-body">
	<pre ng-bind="prettyPrint(item)"></pre>
</div>
<div class="modal-footer"></div>
