<div class="modal-header">
	<i class="fa fa-globe"></i>
    <h3 class="modal-title">World</h3>
</div>
<div class="modal-body">
    <ul class="list">
        <li class="item" ng-repeat="item in list" ng-click="ok(item.name)">
            <span>{{ item.name }}</span>
        </li>
    </ul>
</div>
<div class="modal-footer"></div>
