<div id="loading" class="modal-body status">
	<div class="load">
		<h3>Loading...</h3>
		<img src="app/less/img/load.gif" alt="Loading...">
	</div>
	<div>
		<p class="stat">Connecting...</p>
	</div>
</div>
