<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="front">
            <div class="info-card">
                <span class="info-card-icon">
                    <i class="fa fa-street-view"></i>
                </span>
                <div class="info-card-content">
                    <span class="info-card-action"> {{ action.title }}</span>
                </div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <span class="info-card-ptc"> {{ action.pctRounded }} %</span>
            </div>
        </div>
        <div class="back">
            <div class="info-card">
                <span class="info-card-icon">
                    <i class="fa fa-info"></i>
                </span>
                <div class="info-card-content">
                    <ul class="info-card-list">
                        <li ng-repeat="effect in action.effects track by $index"> 
                            {{ effect.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>