<div class="window">
    <div id="ui">
        <!-- Locations -->
        <div id="locations" class="well">
            <div class="header">
                <h1>Locations</h1>
                <i class="fa fa-street-view"></i>
            </div>
            <div class="body">
                <ul class="list">
                    <div ng-repeat="place in world.locations">
                        <div class="char-pic pic" style="background: url(app/less/img/{{ place.name | nospace }}.jpg) no-repeat; background-size: cover;"> </div>
                        <li class="item" data-toggle="collapse" data-target="#{{ place.name | nospace}}">
                            {{ place.name }}
                        </li>
                        <div class="collapse" id="{{ place.name | nospace}}">
                            <div>
                                <ul id="list-sub">
                                    <li class="child" ng-click="bio(place, 'location')">
                                        <div class="left-banner banner-1"></div>
                                        <span>Info</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <!-- Interactable -->
        <div id="interactable" class="well">
            <div class="header">
                <h1>Characters</h1>
                <i class="fa fa-bell" ng-click="info(world)"></i>
            </div>
            <div class="body">
                <ul class="list">
                    <div ng-repeat="item in world.entities.Character" >

                        <div class="char-pic pic" style="background: url(app/less/img/{{ item.name | nospace }}.jpg) no-repeat; background-size: cover;"> </div>
                        <li class="item"data-toggle="collapse" data-target="#{{ item.name | nospace}}">
                            {{ item.name }}
                        </li>
                        <div class="collapse" id="{{ item.name | nospace}}">
                            <div>
                                <ul id="list-sub">
                                    <li class="child" ng-click="charBio(item)">
                                        <div class="left-banner banner-1"></div>
                                        <span>Info</span>
                                    </li>
                                    <li class="child" ng-click="pickup(hasItem(item.name))" ng-if="hasItem(item.name) != false">
                                        <div class="left-banner banner-2"></div>
                                        <span>Take the {{ hasItem(item.name).name | lowercase }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <!-- Player -->
        <div id="inventory" class="well">
            <div class="header">
                <h1>You</h1>
                <i class="fa fa-server"></i>
            </div>
            <div class="body">
                <div class="portrait pic" style="background: url(app/less/img/Player.jpg) no-repeat center; background-size: cover;"> </div>
                <div class="right">
                    <div class="head">
                        <h3>Inventory</h3>
                    </div>
                    <ul class="list">
                        <div ng-repeat="item in world.player.inventory">
                            <div class="char-pic pic" style="background: url(app/less/img/{{ item.name | nospace }}.jpg) no-repeat; background-size: cover;"> </div>
                            <li class="item" data-toggle="collapse" data-target="#{{ item.name | nospace }}">
                                {{ item.name }}
                            </li>
                            <div class="collapse" id="{{ item.name | nospace}}">
                                <div>
                                    <ul id="list-sub">
                                        <li class="child" ng-click="bio(item, 'item')">
                                            <div class="left-banner banner-1"></div>
                                            <span>Info</span>
                                        </li>
                                        <li class="child" ng-click="giveTo(item)">
                                            <div class="left-banner banner-2"></div>
                                            <span>Give to</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Console -->
	<div id="console" class="well" ng-class="{display: !loggerDisplay}">
		<div class="header">
			<h1>Console</h1>
            <i class="fa fa-arrow-{{loggerDisplay?'right':'left'}}" ng-init="loggerDisplay = true" ng-click="loggerDisplay = !loggerDisplay"></i>
		</div>
		<div class="body">
			<ul>
				<li ng-repeat="line in console track by $index" ng-click="info(line)">{{line}}</li>
			</ul>
			<div class="input">
				<input id="console-input" type="text" name="console" ng-model="query" ng-enter="onQuery()" autofocus/>
				<a class="btn btn-default" ng-click="toggleGame()">
					<i ng-init="state = 'play'" class="fa fa-{{ state }}"></i>
				</a>
			</div>
		</div>
	</div>

    <!-- Queue -->
	<div id="log" class="well" ng-class="{display: !loggerDisplay}">
		<div class="header">
			<h1>Action Queue</h1>
			<i class="fa fa-align-justify dropdown-toggle button" id="drop4" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"></i>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul id="hamburger" class="dropdown-menu" role="menu" aria-labelledby="drop4">
              <li role="presentation"><a role="menuitem" tabindex="-1">Action List</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1">Characters</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1">About</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1">Restart</a></li>
            </ul>
        </div>
		<div class="body">
			<ul class="cards">
				<li ng-repeat="action in queue track by $index" class="card" ng-click="info(action)">
                    <card id="card{{ action.id }}" effect="action" index="$index"></card>
                </li>
			</ul>
		</div>
	</div>


</div>

<div ng-controller="MasterController"></div>
